.contenedor-continuar {
    background-color: black;
  
    div {
        .flex {
           margin: 30px;
        }

        .flex-comprar {
            background-color: green;
            color: white;
            border-radius: 5px;
            text-decoration: underline;
            font-size: 15px;
            padding: 5px;
    
        }
    
    
    
    
    }
}